Code/
BraveSoftware/
dconf/
enchant/
/eog
evolution/
gedit/
goa-1.0/
gtk-3.0/
ibus/
pulse/
update-notifier/
xfce4/
gnome-session/
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
user-dirs.dirs
user-dirs.locale
microsoft-edge/
google-chrome/
MongoDB Compass/
libreoffice/
totem/
vlc/
gtk-4.0/
light/
yelp/
config.yml
hosts.yml
menus/
nextjs-nodejs/